*{
    padding: 0%;
    margin: 0%;
}

html,body{
height: 100%;
width: 100%;;
}
#main{
height:100% ;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.shape{
    margin-top: 10px; margin-left: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(252, 252, 252);
    border: 1px solid black;
    
   
}

#square:hover{
         background-color: red;
}
#circle{
    border-radius: 50%;


}
#circle:hover{
    background-color: green;
}  
#diamond{
    rotate: 45deg;
    margin-top: 50px;
}
#diamond:hover{
    background-color: blue;
}
#diamond h1{
    rotate: -45deg;
}



