*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
 
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
}   

#card1{
    z-index: 4;
    background-color: aqua;
}

#card2{
    z-index: 3;
     rotate: -8deg;
     background-color: blue;
}

#card3{
    z-index: 2;
    rotate: -16deg;
    background-color: red;
}

#card4{
    z-index: 1;
    rotate: -24deg;
    background-color: burlywood;
}

#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}
    
#card4:hover{
    z-index: 10;
}
              

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}