*{
    padding: 0%;
    margin: 0%;
}

html,body{
background-color: aquamarine;
}
div{
    width: 200px;
    height: 200px;
}

#box1{
    background-color:bisque;
    border-radius: 50%;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: rgb(246, 19, 57);
}
#box4{
    background-color: rgb(19, 218, 105);
}
#box5{
    background-color: rgb(226, 255, 111);

}